
.lasagna {
    background-color: rgb(153, 72, 72);
}
.pizza {
    background-color:rgb(192, 107, 76)
}
.pierogi {
    background-color: rgba(165, 42, 42, 0.308)
}

.one {
    color:red;
    background-color: rgba(17, 15, 5, 0.766);
}

.two {
    color:forestgreen;
    background-color: bisque;
    font-family:Arial, Helvetica, sans-serif;
    font-size:large;
    font-weight:800;
    text-align:center;
}

.three {
    color:rgb(160, 210, 178);
}

.steps {
    font-weight: 900;
    font-family: cursive;
    color:rgba(72, 71, 71, 0.745);
}